.Footer
	height 28%

	display flex
	background black
	
	box-shadow 8px 3px 31px 3px gray
	padding 0.5em
	&-parrafo
		display flex
	&-titulo
		color white
		padding 10px
	&-p
		width 50%
		color white
		font-size 17px
		padding 10px
		border-right 1px solid white
	&-img
		width 27%
		height 29%
		border-radius 50%
		-webkit-transition border-bottom 0.2s
		&:hover
			border-bottom 5px solid white
	&-imgs
		width 21%
	&-cajaimg
		width 23%
		text-align -webkit-right
