@font-face{
  font-family jaapokki-regular
  src url(../../fuentes/jaapokki-regular.ttf)
}
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.principal
  font-size 12px
  margin-top 8em
  text-align center
  background-image url(../../img/html.png)
  background-position top
  background-size cover
  font-family "jaapokki-regular", sans-serif
.inicio
  text-align center
  display inline-block
.Tittle_Inicio
  font-weight bold
  font-size 2em
  padding 1em
  color gray
  -webkit-transition color 0.2s,font-size 0.5s
.Tittle_Inicio:hover
  color #2E64FE
  font-size 2.2em
.Tittle_languages
  color black
  font-weight bold
  font-family "jaapokki-regular", sans-serif
  padding 1em
  list-style none
  text-decoration none
.Tittle_languages:hover
  color #2E64FE
.link_admin
  font-weight bold
  text-decoration none
  color blue
  font-size 1.5em
  background orange
  border-radius .5em
  padding .5em
  border 5px solid black
  padding .5em
  -webkit-transition color 0.5s, background 0.5s
.link_admin:hover
  background #2E64FE
  color white
  text-decoration none
.link_user
  font-weight bold
  text-decoration none
  color blue
  font-size 1.5em
  background orange
  border-radius .5em
  padding .5em
  border 5px solid black
  padding .5em
  -webkit-transition color 0.5s, background 0.5s
  text-decoration none
.link_user:hover
  background #2E64FE
  color white
  text-decoration none
.list_languages
  font-size 1.5em
  color black
  font-weight bold
  padding 1em
.list_languages:hover
  color #2E64FE
.seccion
  text-align center
  display flex
  font-size 1.5em
  padding 1em
  color black
.video
  height 10%
  width 30%
  border 1px solid blue
  padding 1em
  border-radius 2em
  background black
  margin-left 5em
  display inline-block
  color black
  margin-bottom 5em
@media screen and (max-width 750px)
  .video
    width 77%
    height 50%
