.Header-admin
	margin-top 15em
.Usuarios-repeat
	margin-bottom 1em
.Boton-inico
	background #ffa500
	padding 1em
	border-radius 5px
	border 3px solid black
	-webkit-transition background 0.2s, color 0.2s
	margin-bottom 5px
	&:hover
		background blue
		color white
		text-decoration none
		font-weight bold
